fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
cryptography
httpx
aiofiles
Pillow
python-dotenv
apscheduler
pydantic
pydantic-settings
pydantic[email]
email-validator
requests
instagrapi==2.1.2
